
/* header */

header{
    flex: 0 0 auto;
    padding: 0;
    position: absolute;
    width: 100%;
 }

 .btnheader{
    display: flex;
    width: 100%;
    z-index: 100;
    justify-content: right;
    position: relative;
    padding: 0;
    margin: 0;
    
    
 }


.skillsButtonclass, .pojectsButton, .btnaboutMe{
    font-size: 25px;
    color: #3d3c3c;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Rakkas', cursive;
    margin: 1%;
    border: 100%;
}

.skillsButtonclass:hover{
    color: rgb(3, 3, 3);
    background-color: rgb(233, 156, 112);
    opacity: 0.8;
}
.pojectsButton:hover{
    color: rgb(3, 3, 3);
    background-color: rgb(233, 156, 112);
    opacity: 0.8;
}

.btnaboutMe:hover{
    color: rgb(3, 3, 3);
    background-color: rgb(233, 156, 112);
    opacity: 0.8;
}

figcaption {
    display:none; 
    transition: all .5s;
  }
  /* Visible texto */
figure:hover > figcaption {
    display:block;
    transition: all .5s;
  }


/* pagina principal */

.coverPage{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   
}

html{
    height: 100%;
    padding: 0;
    margin: 0;
}


body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.home{
    overflow: hidden; 
    background: #f3c6b4; 
    display: flex;
}

.logo{
    width: 30rem;
    position: absolute;    
}



.icon5{
    cursor: pointer;
}

.icon1, .icon2, .icon3, .icon5{
    color: #3d3c3c;
    text-decoration: none;
}

.icon1:hover{
    color: #AE2D18;
}

.icon2:hover{
    color: black
}

.icon3:hover{
    color: #0077B5;
}

.icon5:hover{
    color: rgb(216, 92, 21);
}
@media screen and (max-width: 600px) {
    .logo{
        width: 20rem;

    }

    .skillsButtonclass, .pojectsButton, .btnaboutMe{
    
        font-size: 20px;
        margin-inline-start: 5%;
    }

    .btnheader{
        justify-content: center;
    }

    .logosFooter{
        font-size: 15px;
        margin-top: 15%;

    }
    


}


/* habilidades */


.styleskills{
    margin: 0; 
    padding: 0;
    flex-direction: column;
    width: 100%;
    background: url(image/wallpapper.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    display: none;
    height: 100%;
    /* transition-property: opacity, left, top, height; */
    transition-duration: 3s, 5s, 3s, 5s;
    overflow: scroll;

}

.styleskillsdiv{
    top: 200px;
    position: relative;
    height: 50%;
    width: 50%;
    display: flex;
    left: 6%

    
}


.texticon{
    font-size: 40px;
    font-family:'Rakkas', cursive;
    color: #3d3c3c;
    margin: 0;
}


.icon6, .icon7, .icon8, .icon9, .icon10, .icon11, .icon12{
    font-size: 60px;
    /* margin: 2%; */
    color: #3d3c3c;
    margin: 5%;
    padding: 0;
    margin-left: 6%;
}

.slide-top {
	-webkit-animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) alternate-reverse forwards;
	        animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) alternate-reverse forwards;
}

@-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  

     .icon4{
    opacity: 0; 
    /* right: auto;
    top: 350px;
    position: relative;
    left: 2%;
    cursor: pointer; */

    }  



    @media screen and (max-width: 600px){
        .icon6, .icon7, .icon8, .icon9, .icon10, .icon11, .icon12{
            font-size: 40px;
            position: relative;
            
        }        

        .texticon{
            font-size: 20px;
        }

        .styleskillsdiv{
            display: block;
            top: 40px;
            text-align: center;
            left: 25%

        }
    
    }

/* footer */
.information{
    flex: 0 0 auto;
    position: absolute;
    bottom: 12px;
    width: 100%;
}

.logosFooter{
    display: flex;
    justify-content:space-around;
    position: relative;
    width: 100%;
    height: auto;
}
 
.imgIn{
    width: 8%;
    height: auto;
    
}



/* sobre mi */


.aboutMe{
    margin: 0; 
    padding: 0;
    width: 100%;
    background: url(image/wallpapper.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    display: none;
    height: 100%;
    overflow: scroll;

}


.aboutMeDiv{
    display: flex;
    position: relative;
    justify-content: center;
    top: 100px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.imageAna {
    border-radius: 57px;
    width: 25%;
    height: 25%;
    
    
}

.contentdescription{
    height: 100%;
    width: 40%;
    margin-left: 3%;
}

.titledescription{
    color: #3d3c3c;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    top: 50px;
    position: relative;
    
}

.description {
    position: relative;
    text-align: justify;
    color: #3d3c3c;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;  
    font-weight: lighter;
    position: relative;
    top: 40px;
} 
.cv{
    top: 30px;
    position: relative;
    color: #3d3c3c;
}

@media screen and (max-width:600px){
    .description{
        font-size: 10px;
        left: 8%;
        
    }
    .aboutMeDiv{
        display: block;
        top: 8%;
        text-align: center;
        overflow: scroll
    }   

    .imageAna{
        width: 50%;
       height: 50%;
    }

    .contentdescription{
        width: 80%;
    }

    .cv{
        top: 5px;
    }

}


/* proyectos */

.projectcontent{
    margin: 0; 
    padding: 0;
    flex-direction: column;
    width: 100%;
    background: url(image/wallpapper.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    display: none;
    height: 100%;
    /* overflow: hidden; */
}

.container{
    position: relative;
    width: 100%;
    /* margin: 150px auto 0; */
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 440px;
    grid-gap: 40px;
    top: 100px;
    text-align: center;
    
}

.container .card{
    position: relative;
    /* background:rgb(88, 88, 88); */
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s;
    margin: 3%;
}


.burger{
    background: white;
}


.container .card .img-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.5s;
}

.container .card:hover .img-box{
    opacity: .2;
}

.container .card .img-box img{
    width: 100%;
    
}

.container .card .content {
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: -100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    transition: 0.54s;
}

.container .card:hover .content{
    bottom: 0;
}

.container .card:nth-child(1) .content{
    background: linear-gradient(0deg, #EE8A6B, transparent)
}

.container .card:nth-child(2) .content{
    background: linear-gradient(0deg, #EE8A6B, transparent)
}
    
.container .card .content ul {
 display: flex;
 margin: 20px 0 0;
 padding: 0;
 align-items: center;
 justify-content: center;

}

.container .card .content ul li{
    list-style: none;
}

.container .card .content ul li a{
    color: aliceblue;
    padding: 0 15px;
    font-size: 30px;
    transition: 0.5s;
    text-decoration: none;
}

.texticon{
    color: #3d3c3c,
}

.textDescriptionProject{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.iconProject{
    top: 20px;
}

.btnproject{
    color: #3d3c3c;
    text-decoration: none;
    position: relative;
    margin-right: 10%;
}

.titleproject{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

@media screen and (max-width:600px){
 
    .container .card{
      height: 70%;
    }

    .titleproject{

        font-size: 20px;

    }

    .container .card .content{
        height: 100%;
    }

    .textDescriptionProject{
        font-size: 10px;
    }
}

