
header{
    flex: 0 0 auto;
    padding: 0;
    position: absolute;
    width: 100%;
 }

 .btnheader{
    display: flex;
    width: 100%;
    position: relative;
 }

/* header */


.skillsButtonclass, .pojectsButton, .btnaboutMe{
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #3d3c3c;
    border-radius: 6px;
    cursor: pointer;
    font-family: Arial;
    position: relative;
    left: auto;
}

.skillsButtonclass:hover{
    color: rgb(233, 137, 92);
    background-color: rgb(51, 49, 51);
    opacity: 0.5;
}
.pojectsButton:hover{
    color: rgb(233, 137, 92);
    background-color: rgb(51, 49, 51);
    opacity: 0.5;
}

.btnaboutMe:hover{
    color: rgb(233, 137, 92);
    background-color: rgb(51, 49, 51);
    opacity: 0.5;
}
/* pagina principal */

.coverPage{
   width: 100%;
}

html{
    height: 100%;
    padding: 0;
    margin: 0;
}


body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.home{
    overflow: hidden; 
    background: #f3c6b4; 
}

.logo{
    width: 40%;
    position: absolute;
    left: 30%;
    top: 200px;
    max-width: 100%;
}

.icon1, .icon2, .icon3{
    color: #3d3c3c;
}

.icon1:hover{
    color: #AE2D18;
}

.icon2:hover{
    color: black
}

.icon3:hover{
    color: #0077B5;
}

.imageAna {
    border-radius: 57px;
    width: 25%;
    top: 150px;
    left: 200px;
    position: relative;
}


/* habilidades */

.devicon{
    width: 100%;
    position: relative;
    top: 200px; 
    left: 200px;
}

.description {
    position: relative;
    width: 50%;
    text-align: justify;
    font-family: Arial;
    color: #3d3c3c;
    left: 25%;
    top: 100px;
} 

.icon4{
    color: #3d3c3c;
    right: auto;
    top: 350px;
    position: relative;
    left: 2%;
    cursor: pointer;

}

.skillsStyle{
    display: none;
}

/* footer */
.information{
    flex: 0 0 auto;
    position: absolute;
    bottom: 12px;
    width: 100%;
}

.logosFooter{
    display: flex;
    justify-content:space-around;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.imgIn{
    width: 8%;
}

/* sobre mi */


.aboutMe{
    margin: 0; 
    padding: 0;
    flex-direction: column;
    width: 100%;
    background: url(image/wallpapper.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    display: none;
    overflow: hidden;

}
